<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/main.css" rel="stylesheet"/>
    <link href="../styles/verif.css" rel="stylesheet"/>
    <link href="../styles/profile.css" rel="stylesheet"/>

    <title>Document</title>
</head>
<body>
    <div class = "work-block">
    <header class = "header-inside">
        <p class = "header-title">ПРОФИЛЬ</p>
        <p class = "header-dis">создайти своей профиль - начните совой путь дизайнера</p>
    </header>
    <section class="profile">
        <div class = "menu">
            <div class="menu-el">
                <a href = "profile.html" class = "link"> <p class="menu-el-p">Личные данные</p></a>
            </div>
            <div class="menu-el">
                <a href = "work.html" class = "link"><p class="menu-el-p">Мои работы</p></a>
            </div>
            <div class="menu-el">
                <a href = "auc.html" class = "link"><p class="menu-el-p">Аукцион</p></a>
            </div>  
            <div class="menu-el">
                <a href = "buy.html" class = "link"> <p class="menu-el-p">Продано</p></a>
            </div>
            <div class="menu-el">
                <a href = "mybuy.html" class = "link"><p class="menu-el-p">Покупки</p></a>
            </div>
            <div class="menu-el">
                <a href = "arhiv.html" class = "link"><p class="menu-el-p" style="color: rgb(73, 73, 73);">Архив</p></a>
            </div>
            <div class="menu-el">
                <a href = "../index.html" class = "link"><p class="menu-el-p">Выход</p></a>
            </div>
        </div>
        <div class="profile-sorts">
           <div class = "panel-sort">
            <p>По дате загрузки</p>
            <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.84 1L10.32 7.52C9.55 8.29 8.29 8.29 7.52 7.52L1 1" stroke="#040404" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
           </div>
           <div class = "panel-sort">
            <p>По дате загрузки</p>
            <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.84 1L10.32 7.52C9.55 8.29 8.29 8.29 7.52 7.52L1 1" stroke="#040404" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
           </div>
           <div class = "panel-sort">
            <p>По дате загрузки</p>
            <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.84 1L10.32 7.52C9.55 8.29 8.29 8.29 7.52 7.52L1 1" stroke="#040404" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
           </div>
           <div class = "panel-sort">
            <p>По дате загрузки</p>
            <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.84 1L10.32 7.52C9.55 8.29 8.29 8.29 7.52 7.52L1 1" stroke="#040404" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
           </div>
            <input class = "panel-search" placeholder="Поиск"/>
        </div>
    </section>
    <a href = "create-work-one.html" class = "link create-link"><p>Создать работу</p></a>
    <div class = "card-work">
        <img  src ="../img/darkmain.png"/>
        <div class = "card-work-option">
            <div class = "card-work-dis">
                <p class = "card-work-dis-text">Sed ut perspiciatis unde omnis iste</p>
                <a href = "work-page.html" class = "link"><p class = "card-work-dis-title">Sed ut perspiciatis unde omnis iste natus</p></a>
            </div>
            <div class = "active-link">
                <a href = "work.html" class = "link"><p>Вернуть</p></a>
                <img src="../img/next.svg"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>