<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/main.css" rel="stylesheet"/>
    <link href="../styles/verif.css" rel="stylesheet"/>
    <link href="../styles/profile.css" rel="stylesheet"/>

    <title>Document</title>
</head>
<body>
    <header class = "header-inside">
        <p class = "header-title">СОЗДАНИЕ РАБОТЫ</p>
        <p class = "header-dis">ШАГ 1</p>
    </header>
    <div class = "create-work">
        <p class="create-work-p">Обложка (ширина 1340px)</p>
        <div class = "create-work-photo">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 32H44M32 44V20M32 62C48.5 62 62 48.5 62 32C62 15.5 48.5 2 32 2C15.5 2 2 15.5 2 32C2 48.5 15.5 62 32 62Z" stroke="gray" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </div>
        <p class="create-work-p">Работа (ширина 1340px)</p>
        <div class = "create-work-photo">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 32H44M32 44V20M32 62C48.5 62 62 48.5 62 32C62 15.5 48.5 2 32 2C15.5 2 2 15.5 2 32C2 48.5 15.5 62 32 62Z" stroke="gray" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class = "active-link">
            <a href = "/template/create-work-two.html" class = "link"><p>Далее</p></a>
            <img src="/img/next.svg"/>
        </div>
    </div>

</body>
</html>