<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/main.css" rel="stylesheet"/>
    <link href="../styles/verif.css" rel="stylesheet"/>
    <link href="../styles/profile.css" rel="stylesheet"/>

    <title>Document</title>
</head>
<body>
    <header class = "header-inside">
        <p class = "header-title">ПРОФИЛЬ</p>
        <p class = "header-dis">создайти своей профиль - начните совой путь дизайнера</p>
    </header>
    <section class="profile">
        <div class = "menu">
            <div class="menu-el">
                <p class="menu-el-p" style="color: rgb(73, 73, 73);">Личные данные</p>
            </div>
            <div class="menu-el">
                <a href = "./template/work.html" class = "link"><p class="menu-el-p">Мои работы</p></a>
            </div>
            <div class="menu-el">
                <p class="menu-el-p">Аукцион</p>
            </div>  <div class="menu-el">
                <p class="menu-el-p">Продано</p>
            </div>
            <div class="menu-el">
                <p class="menu-el-p">Покупки</p>
            </div>
            <div class="menu-el">
                <p class="menu-el-p">Архив</p>
            </div>
            <div class="menu-el">
                <p class="menu-el-p">Выход</p>
            </div>


        </div>
        <div class="profile-panels">
            <div class="profile-panel">

                <div class="input-container">
                    <input type="text" id = "eme"  name = "eme" required = ""/>
                    <label>E-MAIL</label>		
                    <span id = "errer_eme" class = "erorr-message"  ></span>	
                </div>

                <div class="input-container">
                    <input type="text" id = "eme"  name = "eme" required = ""/>
                    <label>E-MAIL</label>		
                    <span id = "errer_eme" class = "erorr-message"  ></span>	
                </div>

            </div>
            <div class="profile-panel">
            <div class="input-container">
                <input type="text" id = "eme"  name = "eme" required = ""/>
                <label>E-MAIL</label>		
                <span id = "errer_eme" class = "erorr-message"  ></span>	
            </div>

            <div class="input-container">
                <input type="text" id = "eme"  name = "eme" required = ""/>
                <label>E-MAIL</label>		
                <span id = "errer_eme" class = "erorr-message"  ></span>	
            </div>
    
        </div>
        </div>

        <div class="profile-panels">
            <div class="profile-panel-big">
                <div class="picture-profile">
                    <img src="./img/prof.png"/>
                </div>
                <div class="input-container">
                    <input type="text" id = "eme"  name = "eme" required = ""/>
                    <label>E-MAIL</label>		
                    <span id = "errer_eme" class = "erorr-message"  ></span>	
                </div>

                <div class="input-container">
                    <input type="text" id = "eme"  name = "eme" required = ""/>
                    <label>E-MAIL</label>		
                    <span id = "errer_eme" class = "erorr-message"></span>	
                </div>

            </div>
        </div>
    </section>

</body>
</html>